<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Entrupy SDK için gerekli kamera donanım özelliği -->
  <uses-feature android:name="android.hardware.camera.any" />

  <!-- Entrupy SDK için gerekli izinler -->
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />

</manifest>
